.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;background: #0b141b;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.no-padding{padding:0px;}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0px 0px;
    font-size: 18px;
    line-height: initial;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: none;
}
.navbar-nav{    padding: 15px 0px;}
.navbar-header{    position: relative; width: 7% !important;}
.navbar-brand{width:100%;}
.navbar-brand > img {
  display: block;
  width: 100%;
}
.navbar-nav li a i{padding-left: 10px;}
.navbar-inverse { background-color: #131f2b;border-color: #131f2b;}
.navbar-inverse .navbar-nav > li > a { color: #dadada;  font-size: 18px;}
.jumbotron{margin-bottom: 0px !important;}
.left_side_bar{width:7%;float:left;margin:0px;padding:0px;background-color: #131f2b;
  height: 100%;position: relative;}
.left_side_bar ul{padding:0px;text-align:center;}
.left_side_bar ul li{padding:10px 5px;}
.left_side_bar ul li a{color: #5a636a; font-size: 25px;cursor:pointer;}
.left_side_bar ul li a:hover{color: #2690ca;}
.left_side_bar ul li.active a{color: #2690ca;}
.contentsec{height: 87vh;}
.content{width:93%;float:left;margin:0px;padding:0px; padding: 15px 40px;height: 84vh;
  overflow-y: auto;}
.headsec{background-color: #131f2b;}
.headsec h4{color: #fff;margin: 0px;padding: 10px 15px;}
.time h4{text-align: right;color:#8e97a0}
.investors_list{padding:15px 10px;}
.investors_list h5{color:#fff;    padding: 0px 10px;}
.table_sec{background-color: #131f2b; margin: 10px 0px;padding: 10px 20px;  border-top: 1px solid #07d453;}
.dataTables_wrapper div.dataTables_length label, .dataTables_wrapper div.dataTables_filter label{color:#fff}
.table-striped > tbody > tr,.table-striped > tbody > tr:nth-of-type(odd){    background-color: #000;color:#969696}
.table-striped > thead> tr{color:#969696}
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 10px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { border-top: 1px solid #5d5d5d;}
.dataTables_wrapper div.dataTables_info{display:none;}
.table > thead > tr > th {  border-bottom: none;}
.view_btn{color:#2690ca;cursor:pointer;}
.delete_btn{color:red;cursor:pointer;}
table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after{display:none;}
.dataTables_length select{background: #000; border-color: #000;  color: #fff;}
.dataTables_filter label{background: #000;padding: 1px 10px;  border-radius: 5px;}
.dataTables_filter input{    background: #000; border: none;}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #000;
  border-color: #000;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #656565;
  text-decoration: none;
  background-color: #000;
  border: 1px solid #000;
}
.viewsec{    width: 70%;}
.editsec{    width: 30%; float: left;padding: 10px;}
.none{display:none;}
.editsec .name{    background: none;border: none;  color: #fff;    font-size: 18px;}
.detailsbox{padding: 10px 20px; background-color: #131f2b;}
.edit_btn{float:right; padding: 1px 15px; border: 1px solid #337ab7;border-radius: 3px;cursor:pointer;}
.detailsbox img{    float: left;}
.input-group-addon, .userdetails_form .form-control{background: #000; border-color: #000;}
.userdetails_form .input-group{margin:5px 0px}
.save_btn{    background: #2690ca; border: none;color: #fff;width: 90%;padding: 5px 5px; border-radius: 3px;
  margin: auto; display: block;  margin-top: 10px;}
.add_btn{    float: right;
  padding: 1px 15px;
  border: 1px solid #337ab7;
  border-radius: 3px;
  cursor: pointer;}
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 767px) {
  .editsec { width: 100%;}
  .detailsbox { padding: 10px 10px; }
  .detailsbox img {  width: 50%;}

}
@media screen and (min-width: 768px) and (max-width:1024px) {
  .detailsbox img { float: left; width: 50%;}
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


table {
   width: 100%;
   
   td, th { 
      color: darken($baseColor, 10%);
      padding: $padding; 
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      
      &:last-child {
         font-size: 0.95em;
         line-height: 1.4;
         text-align: left;
      }
   }
   
   th { 
      background-color: lighten($baseColor, 50%);
      font-weight: 300;
   }
   
   tr {     
      &:nth-child(2n) { background-color: white; }
      &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
   }
}

@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {
      &:first-child {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: $imageBig;
      }

      &:not(:first-child) {
         clear: both;
         margin-left: $imageBig;
         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            color: lighten($baseColor, 30%);
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

      &:nth-child(2):before { content: 'Name:'; }
      &:nth-child(3):before { content: 'Email:'; }
      &:nth-child(4):before { content: 'Phone:'; }
      &:nth-child(5):before { content: 'Comments:'; }
   }
   
   tr {
      padding: $padding 0;
      position: relative;
      &:first-child { display: none; }
   }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten($baseColor, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   img {
      border: 3px solid;
      border-color: lighten($baseColor, 50%);
      height: $imageBig;
      margin: 0.5rem 0;
      width: $imageBig;
   }
   
   td {
      &:first-child { 
         background-color: lighten($baseColor, 45%); 
         border-bottom: 1px solid lighten($baseColor, 30%);
         border-radius: $borderRadius $borderRadius 0 0;
         position: relative;   
         top: 0;
         transform: translateY(0);
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border: 1px solid lighten($baseColor, 20%);
      border-radius: $borderRadius;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-users { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
}