<div class="header">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#"><img src="images/logo.png" alt="logo" titile="logo" /></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Logged in as <i class="fas fa-user-circle"></i></a></li>
           <li><a href="#">Admin Management <i class="fas fa-user"></i></a></li>
         <!--  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> </a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</div>