<section ng-include="'views/header.html'" id="header"></section>

<div class="col-xs-12 col-sm-12 no-padding contentsec">
  <div class="left_side_bar">
      <ul>
          <li><a><i class="fas fa-bars"></i></a></li>
          <li><a><i class="fas fa-home"></i></a></li>
          <li class="active"><a><i class="fas fa-user"></i></a></li>
          <li><a><i class="fas fa-user"></i></a></li>
      </ul>
  </div>
  <div class="content">
      <div class="col-xs-12 col-sm-12 no-padding headsec">
        <div class="col-xs-12 col-sm-8 no-padding">
            <h4>INVESTORS</h4>
        </div>
        <div class="col-xs-12 col-sm-4 time no-padding">
          <h4> <i class="far fa-clock"></i> 10:00 PM</h4>
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-12 no-padding investors_list">
        <div class="col-xs-12 col-sm-8 no-padding">
            <h5>LIST OF INVESTORS</h5>
        </div>
        <div class="col-xs-12 col-sm-4 no-padding">
            <a class="add_btn" ng-click="addnew()">ADD</a>
        </div>
        
        <div class="col-xs-12 col-sm-12 no-padding table_sec " ng-class="viewdiv">
          <table class="table bordered table-responsive table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>SURNAME</th>
                <th>EMAIL</th>
                <th>WALLET AMOUNT</th>
                <th>STATUS</th>
                <th></th>
              </tr>
            </thead>
              <tbody>
                <tr ng-repeat="n in data track by $index" ng-click="changevalue(n)">
                  <td><span >{{$index + 1}}</span></td>
                  <td><span >{{n.name}}</span></td>
                  <td><span >{{n.surname}}</span></td>
                  <td><span >{{n.email}}</span></td>
                  <td><span >{{n.amount}}</span></td>
                  <td><span >{{n.status}}</span></td>
                  <td><span class="view_btn" ng-click="view_Div(n,$index)">View</span> <span class="delete_btn" ng-click="delete(n,$index)">Delete</span></td>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="" ng-class="editsec" ngif="editbox">
          <div class="col-xs-12 cols-12 detailsbox">
            <div class="col-xs-12 cols-12 no-padding" ng-if="updatesec">
              <div class="col-xs-12 cols-12 no-padding" >
                  <div class="col-xs-12 col-sm-8 no-padding">
                    <input type="text" ng-model="name" class="form-control name" placeholder="Username" ng-disabled="editbox_enable==false">  
                  </div>
                  <div class="col-xs-12 col-sm-4 no-padding ">
                      <a class="edit_btn" ng-click="editvalue()">Edit</a>
                  </div>
              </div>
              <div class="col-xs-12 cols-12 no-padding" >
                  <img src="images/user.png" alt="user" title="" class="img-responsive">
                  <img src="images/investers.png" alt="investers" title="" class="img-responsive">
              </div>
              <div class="col-xs-12 cols-12 no-padding userdetails_form" >
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input id="email" type="text" class="form-control" name="email" ng-model="email" placeholder="Email" ng-disabled="editbox_enable==false">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                  <input id="status" type="text" class="form-control" name="status" ng-model="status" placeholder="Status" ng-disabled="editbox_enable==false">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                  <input id="amount" type="text" class="form-control" name="amount" ng-model="amount" placeholder="Amount" ng-disabled="editbox_enable==false">
                </div>
              </div>
              <div class="col-xs-12 cols-12 no-padding userdetails_form" >
                  <button class="save_btn" ng-click="savedetails()" ng-disabled="editbox_enable==false">SAVE</button>
              </div>
            </div>
            <div class="col-xs-12 cols-12 no-padding" ng-if="addform">
                <div class="col-xs-12 cols-12 no-padding" >
                  <div class="col-xs-12 col-sm-12 no-padding">
                    <input type="text" ng-model="new.name" class="form-control name" placeholder="Username">  
                  </div>
              </div>
              <div class="col-xs-12 cols-12 no-padding" >
                  <img src="images/user.png" alt="user" title="" class="img-responsive">
                  <img src="images/investers.png" alt="investers" title="" class="img-responsive">
              </div>
              <div class="col-xs-12 cols-12 no-padding userdetails_form" >
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input id="sname" type="text" class="form-control" name="new.sname" ng-model="new.surname" placeholder="Sur Name">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input id="email" type="text" class="form-control" name="email" ng-model="new.email" placeholder="Email">
                </div>
                 <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                  <input id="amount" type="text" class="form-control" name="amount" ng-model="new.amount" placeholder="Amount">
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span>
                  <input id="status" type="text" class="form-control" name="status" ng-model="new.status" placeholder="Status">
                </div>
               
              </div>
              <div class="col-xs-12 cols-12 no-padding userdetails_form" >
                  <button class="save_btn" ng-click="adddetails(new)" >SAVE</button>
              </div>
            </div>
          </div>

        </div>
      </div>

  </div>
</div>

